

.wk-subscribers {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wk-subscribers-content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.wk-subscribers-item {
    width: 60px;
    height: 80px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
   
}

.wk-subscribers-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.wk-subscribers-item-name {
    font-size: 12px;
    color: rgba(9,30,66,.87);
    text-overflow: ellipsis;
    width: 100%;
    height: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    margin-top: 5px;
    line-height: 12px;
}

body[theme-mode=dark] .wk-subscribers-item-name {
    color: white;
}

.wk-subscribers-more {
    font-size: 14px;
    margin-top: 10px;
    color: var(--wk-color-theme);
    cursor: pointer;
    text-align: center;
}
