


.wk-userinfo {
    background-color: var(--wk-color-secondary);
    position: relative;
    --wk-height-userInfo-footer: 60px;
    --wk-height-userInfo-nav: 44px;
    width: 100%;
    height: 100%;
}


.wk-userInfo-footer {
    width: 100%;
    height: var(--wk-height-userInfo-footer);
    background-color: white;
    position: absolute;
    bottom: 0px;
}

body[theme-mode=dark]  .wk-userInfo-footer {
    background-color: var(--wk-color-secondary);
}

.wk-userinfo-user {
    display: flex;
}

.wk-userinfo-content {
    width: 100%;
    height: calc(100% - var(--wk-height-userInfo-footer));
    overflow: auto;
}

.wk-userinfo-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.wk-userinfo-user-avatar {
    margin-left: 20px;
    border-radius: 50%;
    background-color: var(--wk-color-item);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wk-userinfo-user-avatar  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.wk-userinfo-user-info-name {
    font-size: 16px;
    color: var(--wk-text-item);
}

.wk-userinfo-user-info-others  ul {
    margin-bottom: 0px;
    margin-top: 2px;
}

.wk-userinfo-user-info-others li {
    color: var(--wk-color-font-tip);
}

.wk-userinfo-footer-sendbutton {
    width: 100%;
    height: 100%;
    padding: 10px 15px 15px 15px;
}

.wk-userinfo-footer-sendbutton button {
    width: 100%;
    height: 40px;
}


.wk-userinfo-sections{
    margin-top: 20px;
}

.wk-userinfo-loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}