<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>NSCameraUsageDescription</key>
<string>“唐僧叨叨”需要您的同意,才能访问相机，用于音视频通话</string>
<key>NSMicrophoneUsageDescription</key>
<string>“唐僧叨叨”需要您的同意,才能访问麦克风？，用于聊天和视频</string>

</dict>
</plist>